<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/admin/categorias">
    <img src="/img/death-star-svgrepo-com.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    That's no moon
  </a>
  <a href="/admin/posts/add"><button class="btn btn-primary" type="submit">Criar Publicação</button></a>
</nav>